.row1 {
    background-color: grey;
}

.row2 {
    background-color: black;
}

.row3 {
    background-color: white;
}

.row4 {
    background-color: whitesmoke;
}

.row5 {
    background-color: purple;
}